---
layout: archive
title: "Teaching"
permalink: /teaching/
header:
  overlay_image: xihu1.jpg
  overlay_filter: 0.1
author_profile: true
---

I have teaching experience in labor relations at the undergraduate level. My courses explore the intellectual foundations of employment relations, the history of the U.S. labor movement, the fundamentals of U.S. labor law, and key aspects of international employment systems. I emphasize hands-on learning through a range of interactive activities, including interpreting legal cases, debating legislative proposals, conducting simulated collective bargaining, and participating in mock dispute resolution exercises. More broadly, I have a strong interest in teaching and a background in other employment-related subjects, including human resource management, compensation and benefits, and people analytics.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
